#booklistDiv{
    border: 1px 1px dotted;
    margin-bottom: 10px;
}

#description{
   /* border: 1px 1px dotted; */
   height: 150px;   
   overflow : auto;
}

#link{
    position: relative; 
    display: inline-block; 
}
